#timer {
  --text-color: hsl(0, 0%, 13%);
  --background-color: hsl(0, 0%, 97%);
  --border-color: hsl(0, 0%, 13%);

  --shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

section#timer {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

#timer h1 {
  font-size: 16px;
  text-align: center;

  color: var(--background-color);
  background: var(--text-color);
}

#timer div#body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#timer div#body > :not(:first-child) {
  margin-top: 8px;
}

#timer section#gauge {
  display: flex;
}

#timer div#progressOuter {
  width: 160px;
  margin-left: 16px;
  padding: 2px;

  border: 1px solid var(--text-color);
}

#timer div#progressInner {
  width: 0;
  height: 100%;

  background: var(--text-color);
}

#timer div#duration {
  display: flex;
}

#timer form {
  display: flex;
  flex-direction: column;
}

#timer form > :not(:first-child) {
  margin-top: 16px;
}

#timer input {
  flex-grow: 1;
  margin-left: 16px;

  cursor: pointer;
}

#timer button {
  padding: 12px 24px;

  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}
