section#timer {
  padding: 48px 64px;

  display: flex;
  flex-direction: column;

  font-family: monospace;

  border: 1px solid var(--text-color);
  border-radius: 16px;
}

section#timer > :not(:first-child) {
  margin-top: 16px;
}

#gauge {
  display: flex;
}

#gauge > #progressOuter {
  width: 160px;
  margin-left: 16px;
  padding: 2px;

  border: 1px solid var(--text-color);
}

#gauge > #progressOuter > #progressInner {
  width: 0;
  height: 100%;

  background: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
}

form > :not(:first-child) {
  margin-top: 16px;
}

div#duration {
  display: flex;
}

input {
  flex-grow: 1;
  margin-left: 16px;

  cursor: pointer;
}

button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}
