#cells {
  --cell-width: 120px;
  --cell-height: 32px;
  --row-heading-cell-width: 40px;

  --text-color: hsl(0, 0%, 13%);
  --background-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 13%);
  --cell-border-color: hsl(0, 0%, 62%);
  --selected-color: hsl(0, 0%, 11%);

  --shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

section#cells {
  width: 100%;
  /* Unfortunatley, this doesn't work with Safari so setting height in pixels as a work around */
  /* height: auto; */
  /* aspect-ratio: 4 / 3; */
  height: 340px;

  display: flex;
  flex-direction: column;

  background: var(--background-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

#cells #tableLayout {
  width: 100%;
  flex-grow: 1;

  position: relative;

  overflow: auto;
}

#cells h1 {
  font-size: 16px;
  text-align: center;

  color: var(--background-color);
  background: var(--text-color);
}

#cells table {
  width: calc(var(--cell-width) * 26 + var(--row-heading-cell-width));

  position: absolute;
  top: 0;
  left: 0;

  border-collapse: separate;
  border-spacing: 0;
  border-style: hidden;
}

#cells tr {
  height: var(--cell-height);
}

#cells th:not(.rowHeading) {
  width: var(--cell-width);

  position: sticky;
  top: 0;
  z-index: 2;

  border: 1px solid var(--cell-border-color);
}

#cells th.rowHeading {
  width: var(--row-heading-cell-width);

  position: sticky;
  left: 0;
  z-index: 1;

  background: var(--background-color);
  border: 1px solid var(--cell-border-color);
}

#cells #topLeftSquare {
  z-index: 2;
  top: 0;
}

#cells td {
  width: var(--cell-width);
  border: 1px solid var(--cell-border-color);
}

#cells input {
  width: 100%;
  height: var(--cell-height);
  padding: 0 4px;

  border: none;
  background: transparent;
}

#cells input:focus {
  outline: none;
  outline: 2px solid var(--selected-color);
}
