#crud {
  --text-color: hsl(0, 0%, 13%);
  --background-color: hsl(0, 0%, 97%);
  --border-color: hsl(0, 0%, 13%);

  --shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

form#crud {
  width: 100%;
  max-width: 640px;
  height: 340px;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

#crud h1 {
  font-size: 16px;
  text-align: center;

  color: var(--background-color);
  background: var(--text-color);
}

#crud div#body {
  padding: 16px;
  flex-grow: 1;

  display: grid;
  grid:
    "filter ." auto
    "listbox names" 1fr
    "buttons buttons" auto
    / 1fr 1fr;
  grid-gap: 16px;
}

#crud div#filterLayout {
  grid-area: filter;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#crud ol#listBox {
  grid-area: listbox;

  overflow: auto;
  list-style: none;
  border: 1px solid var(--text-color);
}

#crud ol#listBox > li {
  padding: 8px 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#crud ol#listBox > li.selected {
  pointer-events: none;
  color: var(--background-color);
  background: var(--text-color);
}

#crud ol#listBox > li.hide {
  display: none;
}

#crud div#names {
  grid-area: names;

  display: grid;
  grid:
    ". ." auto
    ". ." auto
    / auto auto;
  grid-gap: 8px;
  align-content: start;
}

#crud div#buttons {
  grid-area: buttons;
}

#crud input {
  width: 100%;
  max-width: 160px;
  margin-left: 8px;
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}

#crud label {
  white-space: nowrap;
}

#crud button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}

#crud button:disabled {
  opacity: 0.3;
  pointer-events: none;
}
