form {
  height: 320px;
  padding: 48px 64px;

  display: grid;
  grid:
    "heading ." auto
    "filter ." auto
    "listbox names" 1fr
    "buttons buttons" auto
    / 340px auto;
  grid-gap: 16px;

  font-family: monospace;

  border: 1px solid var(--text-color);
  border-radius: 16px;
}

form h1 {
  grid-area: heading;
}

div#filterLayout {
  grid-area: filter;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

ol#listBox {
  grid-area: listbox;

  overflow: auto;
  list-style: none;
  border: 1px solid var(--text-color);
}

ol#listBox > li {
  padding: 8px 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

ol#listBox > li.selected {
  pointer-events: none;
  color: var(--background-color);
  background: var(--text-color);
}

ol#listBox > li.hide {
  display: none;
}

div#names {
  grid-area: names;

  display: grid;
  grid:
    ". ." auto
    ". ." auto
    / auto auto;
  grid-gap: 8px;
  align-content: start;
}

div#buttons {
  grid-area: buttons;
}

input {
  width: 100%;
  max-width: 160px;
  margin-left: 8px;
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}

button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}

button:disabled {
  opacity: 0.3;
  pointer-events: none;
}
