* {
  margin: 0;
  padding: 0;
}

html {
  --text-color: hsl(0, 0%, 11%);
  --background-color: hsl(55, 25%, 90%);
}

body {
  padding: 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 16px;
  line-height: 1.5em;

  color: var(--text-color);
  background: var(--background-color);
}

body > :not(:first-child) {
  margin-top: 48px;
}

header {
  display: flex;
  flex-direction: column;
}

header > :not(:first-child) {
  margin-top: 24px;
}

#description {
  width: 100%;
  max-width: 640px;
}

#description > :not(:first-child) {
  margin-top: 24px;
}

ul {
  padding-left: 24px;
}

ol > :not(:first-child) {
  margin-top: 16px;
}
