#counter {
  padding: 48px 64px;

  display: grid;
  grid:
    "top top" auto
    "output button" auto
    / auto auto;
  grid-gap: 16px;
  align-items: center;

  font-family: monospace;

  border: 1px solid black;
  border-radius: 16px;
}

#counter > h1 {
  grid-area: top;
  font-size: 20px;
}

button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

output {
  font-weight: 700;
}
