#flightBooker {
  padding: 32px 48px;

  display: flex;
  flex-direction: column;

  font-family: monospace;
  background: hsl(0, 0%, 100%);
  border: 1px solid black;
}

#flightBooker > :not(:first-child) {
  margin-top: 24px;
}

form {
  width: 100%;
  max-width: 340px;

  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
}

input,
select {
  margin: 4px 0 24px 0;
  padding: 8px 16px;
}

select {
  cursor: pointer;
}

button {
  padding: 8px 16px;

  font-family: inherit;
  font-size: 14px;

  cursor: pointer;
}
