form {
  width: 100%;
  max-width: 340px;
  padding: 48px 64px;

  display: flex;
  flex-direction: column;

  font-family: monospace;
  border: 1px solid var(--text-color);
  border-radius: 16px;
}

form h1 {
  margin-bottom: 24px;
}

label {
  font-size: 14px;
}

input,
select {
  margin: 4px 0 24px 0;
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}

input[aria-invalid="true"] {
  background: tomato;
}

select {
  cursor: pointer;
}

button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}

input:disabled,
button:disabled {
  opacity: 0.3;
  pointer-events: none;
}
