#flightBooker {
  padding: 48px 64px;

  display: flex;
  flex-direction: column;

  font-family: monospace;

  border: 1px solid black;
  border-radius: 16px;
}

#flightBooker > :not(:first-child) {
  margin-top: 24px;
}

form {
  width: 100%;
  max-width: 340px;

  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
}

input,
select {
  margin: 4px 0 24px 0;
  padding: 8px 16px;
}

select {
  cursor: pointer;
}

button {
  padding: 12px 24px;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

button:disabled {
  opacity: 0.4;
  pointer-events: none;
}
