form {
  padding: 48px 64px;

  display: flex;
  flex-direction: column;

  font-family: monospace;

  border: 1px solid var(--text-color);
  border-radius: 16px;
}

form > :not(:first-child) {
  margin-top: 16px;
}

div.row {
  display: flex;
  align-items: center;
}

div.row > :not(:first-child) {
  margin-left: 16px;
}

form h1 {
  grid-area: top;
  font-size: 20px;
}

label {
  cursor: pointer;
}

input {
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}
