#tempConverter {
  --text-color: hsl(0, 0%, 13%);
  --background-color: hsl(0, 0%, 97%);
  --border-color: hsl(0, 0%, 13%);

  --shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

form#tempConverter {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

#tempConverter h1 {
  font-size: 16px;
  text-align: center;

  color: var(--background-color);
  background: var(--text-color);
}

#tempConverter div.row {
  padding: 16px;
  display: flex;
  align-items: center;
}

#tempConverter div.row > :not(:first-child) {
  margin-left: 16px;
}

#tempConverter label {
  cursor: pointer;
}

#tempConverter input {
  width: 100%;
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}
