* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: inherit;
}

html {
  width: 100%;

  display: flex;
  justify-content: center;

  --text-color: hsl(0, 0%, 13%);
  --link-color: hsl(216, 85%, 34%);
  --background-color: hsl(0, 0%, 97%);
}

body {
  width: 100%;
  max-width: 1360px;
  min-height: 100vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: monospace;
  font-size: 14px;
  line-height: 1.5em;

  color: var(--text-color);
  background: var(--background-color);
}

body > :not(:first-child) {
  margin-top: 32px;
}

header {
  width: 100%;

  display: flex;
  align-items: flex-end;
}

header p {
  transform: translateY(4px);
}

header > :not(:first-child) {
  margin-left: 16px;
}

#line {
  width: 100%;
  overflow: hidden;
}

ol {
  list-style-position: inside;
}

ol > :not(:first-child) {
  margin-top: 16px;
}

p {
  width: 100%;
  max-width: 640px;
}

a {
  color: var(--link-color);
}

@media (max-width: 900px) {
  body {
    padding: 20px;
  }
}
