* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: inherit;
}

html {
  width: 100%;

  display: flex;
  justify-content: center;

  --text-color: hsl(0, 0%, 13%);
  --link-color: hsl(216, 85%, 34%);
  --background-color: hsl(0, 0%, 97%);
  --border-color: hsl(0, 0%, 13%);
}

body {
  width: 100%;
  max-width: 1360px;
  padding: 40px;

  display: grid;
  grid:
    "header header" auto
    "description gui" auto
    / 1fr 1fr;
  grid-gap: 32px 64px;
  justify-items: start;
  align-items: start;

  font-family: monospace;
  font-size: 14px;
  line-height: 1.5em;

  color: var(--text-color);
  background: var(--background-color);
}

h2 {
  font-size: 14px;
}

a {
  color: var(--link-color);
}

header {
  grid-area: header;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

header #line {
  width: 100%;
  overflow: hidden;
}

section#description {
  grid-area: description;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

section#description::after {
  content: "";

  width: 1px;
  height: 100%;

  position: absolute;
  top: 0;
  right: -32px;

  background: var(--border-color);
}

#description > p + p,
#description > p + h2,
#description > ul + p {
  margin-top: 16px;
}

#description ul {
  padding-left: 24px;
}

#description img {
  max-width: 100%;
  margin-top: 48px;
  align-self: center;
}

section#gui {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

section#gui > :first-child {
  margin-bottom: 24px;
  align-self: center;
}

section#assumptions,
section#code {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#assumptions ul {
  padding-left: 24px;
  font-style: italic;

  list-style: none;
}

#assumptions ul li:before {
  content: "\2014";
  position: absolute;
  margin-left: -20px;
}

#code ul {
  display: flex;
  gap: 24px;

  list-style: none;
}

@media (max-width: 900px) {
  body {
    padding: 20px;

    grid:
      "header" auto
      "description" auto
      "gui" auto
      / 100%;

    grid-gap: 48px;
  }

  section#description::after {
    width: 100%;
    height: 1px;

    top: unset;
    right: unset;
    left: 0;
    bottom: -24px;
  }
}
