#flightBooker {
  --text-color: hsl(0, 0%, 13%);
  --background-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 13%);

  --shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

form#flightBooker {
  width: 100%;
  max-width: 340px;

  display: flex;
  flex-direction: column;

  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

#flightBooker h1 {
  font-size: 16px;
  text-align: center;

  color: var(--background-color);
  background: var(--text-color);
}

#flightBooker div#body {
  width: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
}

#flightBooker label {
  font-size: 14px;
}

#flightBooker input,
#flightBooker select {
  margin: 4px 0 24px 0;
  padding: 8px 16px;

  background: transparent;
  border: 1px solid var(--text-color);
}

#flightBooker input[aria-invalid="true"] {
  background: tomato;
}

#flightBooker select {
  cursor: pointer;
}

#flightBooker button {
  padding: 12px 24px;

  font-size: 14px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
  border: none;
}

#flightBooker input:disabled,
#flightBooker button:disabled {
  opacity: 0.3;
  pointer-events: none;
}
